---
import { Image } from 'astro:assets';
import adaptLogo from '@/assets/images/adapt-logo.webp';

import Layout from '@/layouts/Layout.astro';

import HeroSection from '@/components/HeroSection.astro';
import Section from '@/components/Section.astro';
---

<Layout
  title='ADaPT – Assemble Drive and Perform Technology'
  description='Xin chào tất cả mọi người, chúng mình đến từ câu lạc bộ công nghệ thông tin đầu tiên và duy nhất tại CSP - ADaPT! THE ONLY LIMIT IS YOUR IMAGINATION. ADaPT là câu lạc bộ công nghệ thông tin đầu tiên và duy nhất tại Chuyên Sư Phạm. Nhận thấy tầm…'
>
  <HeroSection>
    {/** Make the text smaller on small screens */}
    <h1 class='sm:text-7xl text-5xl text-zinc-50 pb-6'>ADaPT</h1>
    {/** Make the text smaller on small screens */}
    <p class='sm:text-2xl text-lg text-zinc-200 text-center max-w-2xl'>
      Xin chào tất cả mọi người, chúng mình đến từ câu lạc bộ
      công nghệ thông tin đầu tiên và duy nhất tại CSP – ADaPT!
    </p>
  </HeroSection>

  <div class='hero min-h-[35vh] bg-[#FFD200]'>
    {/** Make the text smaller on small screens */}
    <p class='sm:text-5xl text-[2rem] p-5 max-w-xl text-center text-[#303030] !leading-normal font-bold'>THE ONLY LIMIT IS YOUR IMAGINATION</p>
  </div>

  <Section>
    <p class='title'>ADaPT</p>
    <p class='content'>
      ADaPT là câu lạc bộ công nghệ đầu tiên và duy nhất tại trường THPT Chuyên Sư Phạm. Được bảo trợ bởi thầy Đào Xuân Dương, tháng 3 năm 2016,
      câu lạc bộ đã ra đời với thế hệ đầu tiên đầy nhiệt huyết. Xuyên suốt 8 năm hoạt động, ADaPT đã tạo ra nhiều sản phẩm sáng tạo độc đáo và thành công trong nhiều cuộc thi công nghệ.
    </p>
  </Section>

  <Section>
    <p class='title'>ADaPT’s Events</p>
    <p class='content'>
      Nhắc tới ADaPT, không thể không kể tới những hoạt động thú vị xung quanh những
      ứng dụng của công nghệ. Một số sự kiện thường niên của ADaPT như: sự kiện chào
      mừng học sinh khối 10 aPresent, giải đấu aSpeak, hội chợ công nghệ aFair và giải
      đấu aRobocon.
    </p>
  </Section>

  <Section>
    <p class='title'>ADaPT’s Products</p>
    <p class='content'>
      Trong 8 năm hoạt động, câu lạc bộ đã cho ra mắt rất nhiều sản phẩm công nghệ
      sáng tạo. Một số sản phẩm có thể kể đến như: giàn phun sương khử khuẩn, ứng dụng
      trò chuyện ẩn danh HeartSync, cánh tay robot aDino,, thùng rác thông
      minh aTrade,… Hãy cùng chờ đợi thêm những sản phẩm sắp ra mắt của ADaPT nhé!
    </p>
  </Section>
</Layout>
