---
import Layout from "@/layouts/Layout.astro";
import ProductList from "@/components/ProductList.astro";
---
<Layout
    title="Products - ADaPT"
    description="MỘT SỐ SẢN PHẨM CÔNG NGHỆ CỦA ADaPT THÙNG RÁC TỰ PHÂN LOẠI RÁC Chiếc thùng rác tự phân loại rác thải được tích hợp công nghệ AI đã giúp ích rất nhiều cho môi trường. Đây là sản phẩm đã đem về giải …"
>
    <main class='bg-[#303030] flex flex-col items-center'>
        <h1 class="pt-16 sm:text-5xl text-3xl text-center text-zinc-50">Products</h1>
        <ProductList />
    </main>
</Layout>