---
import Layout from '@/layouts/Layout.astro';
---

<Layout
    title='Resources - ADaPT'
    description='ADaPT Engineering resources'
>
  <h1 class='sm:text-7xl text-5xl text-zinc-50 pb-6'>Resources</h1>
</Layout>
