---
import Layout from '@/layouts/Layout.astro';
import Resources from '@/components/resources';
---

<Layout
    title='Resources - ADaPT'
    description='ADaPT Engineering resources'
>
  <div class='w-screen min-h-screen flex justify-center bg-[#282828]'>
    <Resources client:load />
  </div>
</Layout>
