<div class="footer">
    <div class="leftFooter">
        <span>CONTACT US</span>
    </div>
    <div class="rightFooter">
        <p class="footerLink">
            ➤ FANPAGE: <a
                target="_blank"
                href="https://www.facebook.com/ADAPT.CSP"
                class="link">https://www.facebook.com/ADAPT.CSP</a
            >
        </p>
        <p class="footerLink">
            ➤ INSTAGRAM: <a
                target="_blank"
                href="https://www.instagram.com/adaptzilla/"
                class="link">https://www.instagram.com/adaptzilla/</a
            >
        </p>
        <p class="footerLink">
            ➤ EMAIL: <span class="email">club.adapt@gmail.com</span>
        </p>
        <p class="footerLink">
            ➤ HOTLINE: <span class="tel">0387713635</span> (Nguyễn Minh Trang – Chủ
            tịch clb)
        </p>
    </div>
</div>

<style>
    .footer {
        background-color: #282828;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 15rem;
    }

    .footer .leftFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 50%;
        height: 70%;
    }

    .footer .leftFooter span {
        font-weight: bold;
        color: white;
        font-size: 3rem;
    }

    .footer .rightFooter {
        padding-left: 2rem;
        width: 50%;
        height: 70%;
    }

    .footer .rightFooter p {
        font-weight: 700;
        color: white;
    }

    .footer .rightFooter p .link {
        color: red;
    }

    .tel {
        color: dodgerblue;
    }
</style>
