{
    <div id='letsconnect' class="bg-[#282828] lg:flex justify-center text-white py-12 lg:pl-0">
        <div class='lg:w-fit w-full pt-8 pb-12 lg:mr-40 lg:text-left text-center'>
            <h1 class='text-5xl'>Let's connect</h1>
        </div>
        <div class='lg:w-fit w-full flex justify-center'>
            <ul class='list-[square]'>
                <li class="text-xl mb-4">Fanpage: <a class="underline text-[#D8483E]" href='https://www.facebook.com/ADAPT.CSP'>ADAPT.CSP</a></li>
                <li class="text-xl mb-4">Instagram: <a class="underline text-[#D8483E]" href='https://www.instagram.com/ftc26749_adudu'>@ftc26749_adudu</a></li>
                <li class="text-xl mb-4">Email: club.adapt@gmail.com</li>
                <li class="text-xl mb-4">Hotline: 0823255926 (Lưu Hà Khánh Ngọc - Trưởng ban Truyền thông)</li>
            </ul>
        </div>
    </div>
}