<div class="footer p-4">
    <div class="leftFooter flex md:flex-row lg:flex-row sm:flex-col md:content-center lg:content-center sm:content-start h-fit" style="background-color: #282828;">
        <span class="font-bold text-white sm:text-2xl lg:text-5xl">CONTACT US</span>
    </div>
    <div class="rightFooter">
        <p class="footerLink">
            ➤ FANPAGE: <a
                target="_blank"
                href="https://www.facebook.com/ADAPT.CSP"
                class="link">https://www.facebook.com/ADAPT.CSP</a
            >
        </p>
        <p class="footerLink">
            ➤ INSTAGRAM: <a
                target="_blank"
                href="https://www.instagram.com/adaptzilla/"
                class="link">https://www.instagram.com/adaptzilla/</a
            >
        </p>
        <p class="footerLink">
            ➤ EMAIL: <span class="email">club.adapt@gmail.com</span>
        </p>
        <p class="footerLink">
            ➤ HOTLINE: <span class="tel">0387713635</span> (Nguyễn Minh Trang – Chủ
            tịch clb)
        </p>
    </div>
</div>

<style>
    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer .leftFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 50%;
        height: 70%;
    }

    .footer .rightFooter {
        padding-left: 2rem;
        width: 50%;
        height: 70%;
    }

    .footer .rightFooter p {
        font-weight: 700;
        color: white;
    }

    .footer .rightFooter p .link {
        color: red;
    }

    .tel {
        color: dodgerblue;
    }
</style>
