<div class='hero'>
  <div class='z-1 bg-[url(/bg/hero.webp)] bg-cover bg-center bg-fixed absolute'></div>
  <div class='z-2 bg-black bg-opacity-60 absolute'></div>
  <div class='hero-content text-center p-0'>
    <main>
      <slot />
    </main>
  </div>
</div>

<style>
  div {
    @apply w-screen min-h-[88vh]
  }
</style>
