---
interface LinkOptions {
  name: string,
  href: string
};

type Link = LinkOptions | string;

// Link list
const links: Link[] = ['Home', 'Stories', 'News', 'Events', 'Products', 'Contact'];

// Normalized options
const normalizedOptions: LinkOptions[] = links.map(
  (link) => typeof link === 'string'
    ? { name: link, href: '/' + link.toLowerCase() }
    : link
);
---

{normalizedOptions.map((link) =>
  <li>
    <a href={link.href} class='font-bold text-lg'>{link.name}</a>
  </li>
)}
