---
interface CarouselImage {
    src: string;
    id: string;
}

const srcList = [
    "bot.png",
    "circuit.jpg",
    "sudoku.jpg",
    "heart.png",
    "fogg.png",
    "pp.png",
    "thirdprize.jpg",
    "uless.png",
];

let imgList: CarouselImage[] = [];

for (let i = 0; i < srcList.length; ++i) {
    imgList.push({
        src: "./productImage/" + srcList[i],
        id: i.toString(),
    });
}
---

<div
    class="firstSec h-full bg-slate-100 relative flex flex-col justify-center content-center p-10"
>
    <h1 class="text-lg font-bold text-black w-full text-center">
        PRODUCTS
    </h1>
    <div class="slide flex flex-row justify-center content-center">
        <button
            class="butleft text-3xl absolute text-white self-center bg-gray-600 rounded w-10 h-20 hover:bg-white hover:text-black duration-100"
            ><i class="fa-solid fa-arrow-left"></i></button
        >
        <div
            class="carousel carousel-center rounded lg:h-96 overflow-hidden"
            id="carousel"
        >
            {
                imgList.map((imgInfo) => (
                    <div class="carousel-item content-center justify-center w-full h-auto">
                        <img
                            class="lg:h-96 h-auto"
                            src={imgInfo.src}
                            id={"img-" + imgInfo.id}
                        />
                    </div>
                ))
            }
        </div>
        <button
            class="butright text-3xl absolute text-white self-center bg-gray-600 rounded w-10 h-20 hover:bg-white hover:text-black duration-100"
            ><i class="fa-solid fa-arrow-right"></i></button
        >
    </div>
</div>

<style>
    .slide > .butleft {
        left: 10px;
    }

    .slide > .butright {
        right: 10px;
    }
    
    .firstSec {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding-top: 2vh;

        animation: shrink;
        animation-timeline: scroll();
        animation-range: cover;
    }

    @keyframes shrink {
        to {
            background-color: black;
            opacity: 0.5;
        }
    }
</style>

<script>
    location.hash = "";

    let curImg = 0;
    const imgNum = 8;

    // let inv = setInterval(() => {
    //     swit(1);
    // }, 5000);

    document.querySelector(".butleft").onclick = prev;
    document.querySelector(".butright").onclick = next;

    function prev() {
        swit(-1);
        // clearInterval(inv);
    }

    function next() {
        swit(1);
        // clearInterval(inv);
    }

    function swit(amt: number) {
        curImg = (curImg + imgNum + amt) % imgNum;
        location.hash = `#img-${curImg}`;
    }
</script>
