---
interface Props {
  imageURL: string,
  header: string,
  content: string,
  reversed: boolean
}

const {imageURL, header, content, reversed} = Astro.props;
---
<div class=`pl-6 pr-6 pt-16 flex mr-auto ml-auto w-full max-w-[1663px] flex-col md:flex-row ${reversed ? "md:flex-row-reverse" : ""}`>
  <div class="mb-auto mt-auto md:w-1/2">
    <img src={imageURL} alt={header} class="w-full h-auto">
  </div>
  <div class="text-center mt-auto mb-auto md:w-1/2">
    <h1 class="text-red-700 text-[40px] font-normal pt-8">{header}</h1>
    <p class="text-white pt-8 pl-4 pr-4 text-[20px]">{content}</p>
  </div>
</div>