---
import '@fontsource-variable/rubik';
import '@fontsource-variable/nunito';

import Navbar from '@/components/Navbar.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en' class="scroll-smooth">
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/webp' href='/favicon.webp' />
		<meta name='generator' content={Astro.generator} />
		<link rel="preconnect" href="https://adapt-wordpress-cache.aquapi.workers.dev" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style is:global>
  h1, h2 {
    @apply font-bold font-headings;
  }

  p, a {
    @apply font-base;
  }

  body {
    @apply p-0 m-0;
  }
</style>
