---
import "@fontsource-variable/rubik";
import "@fontsource-variable/nunito";
import "@fontsource/roboto"
import "@fontsource/rowdies"

import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" /><link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://kit.fontawesome.com/yourcode.js"
			crossorigin="anonymous"></script>
	</head>
	<body class="scroll-smooth">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	h1,
	h2 {
		@apply font-bold font-headings;
	}

  p, a {
    @apply font-base;
  }
</style>
