---
import '@fontsource-variable/rubik';
import '@fontsource-variable/nunito';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/webp' href='/favicon.webp' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="page">
		<slot />
	</body>
</html>

<style is:global>
  h1 {
    @apply font-bold font-headings;
  }

  p {
    @apply font-base;
  }

  @media only screen and (min-width: 1024px) {
    .page {
      box-shadow: 0 0 30px rgba(0, 0, 0, .2);
      max-width: calc(1280px - 32px);
    }
  }
  .page {
    margin-left: auto;
    margin-right: auto;
  }
</style>
